<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Result search</title>
</head>
<body>
	<h1>Search results</h1>
	<div th:if="${!customers.isEmpty()}">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">First name</th>
					<th scope="col">Last name</th>
					<th scope="col">Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="customer: ${customers}">
					<td th:text="${customer.firstName}"></td>
					<td th:text="${customer.lastName}"></td>
					<td th:text="${customer.email}"></td>
				</tr>

			</tbody>
		</table>
	</div>
	<div th:if="${customers.isEmpty()}">
		<p>No results ! </p>
	</div>
</body>
</html>