<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>List of customers</title>
</head>
<body>
	<div th:if="${errorId}">
		<p th:text="${errorId}"></p>
	</div>
	<div th:if="${msgSuccessEdit}">
		<p th:text="${msgSuccessEdit}"></p>
	</div>


	<div>

		<h1>The list of customers</h1>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">First name</th>
					<th scope="col">Last name</th>
					<th scope="col">Email</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="customer: ${customers}">
					<td th:text="${customer.firstName}"></td>
					<td th:text="${customer.lastName}"></td>
					<td th:text="${customer.email}"></td>
					<td>
						<a th:href="@{/edit/{id}(id=${customer.id})}">Modifier</a> | 
						<a th:href="@{/delete/{id}(id=${customer.id})}" onclick="if (!(confirm('Are you sure you want to delete this customer?'))) return false">Supprimer</a>			
					</td>
				</tr>

			</tbody>
		</table>

	</div>
</body>
</html>