<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home page</title>
</head>
<body>
<h1>Home page</h1>
<p>Page for CRM App.</p>

<div>
<p><a th:href="@{/list}">The list of customers</a></p>
<p><a th:href="@{/create-customer}">Add customer</a></p>
</div>
</body>
</html>