<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Success</title>
</head>
<body>
<h1>You add data in database.</h1>
<p><a th:href="@{/list}">Return to home page</a></p>
</body>
</html>